* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.slider__content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}